:root {
  --main: #6CAEAE;
  --dark: #2C5569;
  --bg: #EEF4FA;
  --text: #1F2D33;
}

html,body{
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  word-wrap: break-word;
overflow-wrap: break-word;
}
a{
  text-decoration: none;
    color: var(--text);

}
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

/* Top Bar */
.top-bar {
  background: var(--bg);
  padding: 8px 60px;
  display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
}
.top-left i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
}
.bottom-bar {
  padding: 8px 60px;
  display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-left i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
}

.top-left a {
  margin-left: 10px;
  color: var(--dark);
  text-decoration: none;
}

.top-right span {
  margin-right: 8px;
  color: var(--text);
}

/* Header */
.header {
  background: #fff;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 45px;
}

/* Nav */
.nav a {
  margin: 0 12px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

/* Actions */
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-book {
  background: var(--dark);
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.user-icon {
  width: 38px;
  height: 38px;
  border: 1px solid var(--main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
}

/* Hero */
.hero {
  background: var(--bg);
  padding: 60px;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

/* Image */
.hero-image img {
  width: 420px;
  border-radius: 20px;
  background: #fff;
}

/* Content */
.hero-content {
  position: relative;
  max-width: 520px;
  background-image: url("Group.png");
   background-repeat: no-repeat;
  background-size: cover;   /* أو contain حسب الشكل */
  background-position: center;
}

.hero-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 12%); /* شفاف */
  pointer-events: none;
}
.hero-content h1 {
  font-size: 36px;
  color: var(--text);
  margin-bottom: 20px;
    text-align: end;

}

.hero-content h3 {
  color: var(--text);
  opacity: .85;
  line-height: 1.8;
  margin-bottom: 30px;
      text-align: end;

}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.btn-primary {
  background: var(--dark);
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  color: var(--main);
  border: 1px solid var(--main);
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
}

/* Dots */
.hero-dots {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.hero-dots span {
  width: 8px;
  height: 8px;
  background: var(--main);
  opacity: .4;
  border-radius: 50%;
}

.hero-dots .active {
  width: 22px;
  border-radius: 10px;
  opacity: 1;
}

/* Arrows */
.hero-arrows {
  display: flex;
  gap: 10px;
}
.dot-hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.hero-arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark);
  background: transparent;
  color: var(--dark);
  cursor: pointer;
}
/* About */
.about-section {
  background: var(--bg);
  padding: 80px 60px;
}

.about-inner {
  display: flex;
  align-items: center;
  gap: 60px;
    justify-content: space-between;

}

/* Icon */
.about-icon {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  /* background: #f7fbff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon img {
  width: 260px;
}

/* Content */
.about-content {
  max-width: 520px;
}

.about-content h2 {
  font-size: 32px;
  color: var(--text);
  margin-bottom: 20px;
      text-align: end;
}

.about-content p {
  color: var(--text);
  opacity: .85;
  line-height: 1.9;
  margin-bottom: 15px;
      text-align: end;
}

.about-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 600;
      text-align: end;
}
/* Packages */
.packages-section {
  background: var(--bg);
  padding: 60px 30px;
  text-align: center;
}

.section-title {
  font-size: 32px;
  color: var(--text);
  margin-bottom: 50px;
}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.package-card {
  background: #fff;
  border-radius: 18px;
  padding: 30px 25px;
  position: relative;
  height: 410px;
    width: 310px;
}

.pkg-img {
  width: 100%;
  height: 180px;
  background: #f4f7fb;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.pkg-img img {
  max-width: 140px;
}

/* Text */
.package-card h3 {
  color: var(--text);
  margin-bottom: 15px;
}
.package-card h5 {
  color: #939393;
}

.package-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
      display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;

}

.package-card ul li {
  margin: 8px 0;
  color: var(--text);
  opacity: .85;
}
.package-card ul li i {
color: var(--main);
}

/* Button */
.package-card button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  color:var(--dark) ;
  cursor: pointer;
  background: white;
  
    position: relative;
        font-weight: bold;
border: 1px solid var(--dark);
}
.featuredbo{
  background: var(--dark) !important;
color: white!important;
}
/* Featured */
.package-card.featured {
  border: 2px solid var(--main);
      box-shadow: 0px 2px 16px 3px rgba(0, 0, 0, 0.5);

}

.featured-badge {
  position: absolute;
  top: -12px;
right: 115px;
  background: var(--main);
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 20px;
}
/* Booking */
.booking-section {
  background: var(--bg);
  padding: 70px 50px;
      /* width: 50%; */
    margin: auto;
}

.booking-inner {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

}

/* Info */
.booking-info {
  /* max-width: 420px; */
      text-align: end;

}

.booking-info h2 {
  font-size: 32px;
  color: var(--text);
  margin-bottom: 20px;
}

.booking-info p {
  color: var(--text);
  opacity: .85;
  /* line-height: 1.8; */
  /* margin-bottom: 25px; */
}

.booking-features {
  list-style: none;
  padding: 0;
}

.booking-features li {
  margin-bottom: 12px;
  color: var(--text);
}

/* Form */
.booking-form {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  width: 340px;
}

.booking-form input,
.booking-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d9dfe6;
  margin-bottom: 14px;
  font-size: 14px;
}

.booking-form textarea {
  resize: none;
  height: 90px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.booking-form button {
  width: 100%;
  padding: 14px;
  background: var(--dark);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* Why Us */
/* Testimonials */
.reviews-section {
  background: var(--bg);
  padding: 80px 60px;
  display: flex;
  align-items: center;
  gap: 80px;
    justify-content: space-between;

}

.reviews-wrapper {
  width: 350px;
}

.review-card {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.review-stars {
  color: var(--main);
  margin-bottom: 15px;
}

.review-text {
  color: var(--text);
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.review-name {
  color: var(--secondary);
  font-weight: 600;
}

.review-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.review-dots span {
  width: 8px;
  height: 8px;
  background: #cddde5;
  border-radius: 50%;
}

.review-dots .active {
  width: 20px;
  border-radius: 20px;
  background: var(--main);
}

.reviews-content {
  max-width: 520px;
}

.reviews-content h2 {
  font-size: 28px;
  color: var(--text);
  margin-bottom: 20px;
}

.reviews-content p {
  color: var(--text);
  line-height: 1.9;
  opacity: .85;
}

/* Footer */
.main-footer {
  background: #e5f1f3;
  padding: 60px;
  color: var(--text);
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
      text-align: right;

}

.footer-col ul {
  list-style: none;
      text-align: right;

}

.footer-col ul li,
.footer-item {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: .8;
}

.footer-logo img {
  width: 90px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  line-height: 1.7;
  opacity: .8;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  opacity: .6;
}
.footer-item {
  text-align: right;
}
@media(max-width:768px){
  .hero-inner {
    flex-direction: column;
  }
}
@media(max-width:768px){
  .about-inner {
    flex-direction: column;
  }
}
@media(max-width:768px){
  .packages-grid {
display: block;

  }
}
@media(max-width:768px){
  .booking-inner {
    flex-direction: column;
  }
}
@media(max-width:768px){
  .reviews-section {
    flex-direction: column;
  }
}
@media(max-width:768px){
  .footer-inner{
display: block;
  }
}
@media(max-width:768px){
.booking-info{
  text-align: center;
}
}
@media(max-width:768px){
.hero-content h1{
  text-align: center;
  font-size: 29px;
}
}
@media(max-width:768px){
.hero-image img {
 width: 350px;
}
}
@media(max-width:768px){
.hero-content p{
  text-align: center;
}
}
@media(max-width:768px){
.about-content{
  text-align: center;
}
}
@media(max-width:768px){
.package-card.featured{
margin-bottom: 20px;
margin-top: 20px;
}
}
@media(max-width:768px){
.reviews-content{
text-align: center;
}
}
@media(max-width:768px){
.footer-col{
text-align: center;
}
}
@media(max-width:768px){
.footer-col ul{
text-align: center;
}
}
@media(max-width:768px){
.footer-col h4 {
text-align: center;
}
}

@media(max-width:768px){
.footer-item{
text-align: center;
}
}
@media(max-width:768px){
.nav{
display: none;

}
}
@media(min-width:768px){
.header-actions i{
display: none;

}
}
@media(max-width:768px){
.header-actions i{
display: block;

}
}
@media(max-width:768px){
.top-bar {
flex-direction: column-reverse;
text-align: center;
}
}
@media(max-width:768px){
.bottom-bar {
flex-direction: column-reverse;
text-align: center;}
}
@media(max-width:768px){
.header-actions i{
display: block;

}
}


.serves{
position: absolute;
top: 70px;
right: 0;
background: #fff;
/* width: 120%; */
gap: 10px;
padding: 20px 0;
display: none;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
/* display: flex; */
flex-direction: column;
margin: auto;
align-items: center;
z-index: 10000;

}
.serves a{
text-decoration: none;
color: #333;
padding: 8px;
}

.header-right{
  position: relative;
}

.header-right:hover .serves{
  flex-direction: column;
align-items: center;
  display: flex;
}

.booking-h{
  margin: 0
  ;
}
.booking-p{
  margin: 0;
    margin-bottom: 13px;
}
.ff{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
direction: rtl;
}

.iconff {
  width: 56px;
  height: 56px;
  background: #e8f1f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.iconff i {
  font-size: 22px;
  color: #6cd3d3;

}
.conff h3 {
  text-align: justify;
}
.fe{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media(max-width:768px){
.conff h3 {
  text-align: center;


}
}
@media(max-width:768px){
.booking-section {
width: 50%;

}
}

